<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='jquery-ui/themes/smoothness/jquery-ui.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') + '?17' }}" rel="stylesheet">
<link href="{{ url_for('static', filename='highlightjs/styles/default.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='highlightjs/highlight.pack.js') }}"></script>
<script src="{{ url_for('static', filename='sprintf.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') + '?195' }}"></script>
<body onload='init()'>
<div id="windows"></div>
</body>
</html>